<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.provistudent">

    <uses-permission android:name="android.permission.VIBRATE">
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="ProviStud"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.EditCashActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.ConstantCashActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.DayofcalendarActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.CheatdayActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.IncomeActivity2"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.IncomeActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.NewCashActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.CashActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.HelpActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.InfoActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.NewCheatdayActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activities.StatsActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activities.IntroActivity"
            android:label="ProviStud">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".Receiver.NotificationReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
        </receiver>
        <receiver android:name=".Receiver.ActionReceiver">
        </receiver>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>