<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.provistudent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".EditCashActivity">
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".DayofcalendarActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CheatdayActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".IncomeActivity2"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".IncomeActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".NewCashActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CashActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
        android:name=".NewCheatdayActivity"
        android:label="ProviStud"
        android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->

<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
        </activity>
        <activity
            android:name=".StatsActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="ProviStud"
            android:theme="@style/AppTheme.NoActionBar">
<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->

<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="ProviStud">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>